  .header {
      background-color: #333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem; 
      height: 5rem; 
    }
    
    .header__navbar__avatar {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .header__navbar__user__profile {
      border-radius: 0.3rem; 
      color: #000;
      display: flex;
      align-items: center;
      background-color: #f0f0f0;
    }
    
    .header__navbar__user__icon {
      width: 2.5rem; 
      height: 2.5rem;
      margin-left: 0.3rem; 
    }