/* src/assets/navbar/navbar.component.css */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Imagen dentro del formulario */
.logo-container img {
  max-width: 150px;  /* Ajusta el tamaño máximo de la imagen */
  height: auto;      /* Mantiene la proporción de la imagen */
  border-radius: 5px; /* Bordes ligeramente redondeados (opcional) */
}
