<div>
    <nav class="sidebar">
        <ul>
            <div class="sidebar__container">
          <li><a class="button home" routerLink="/home">Home</a></li>
          <li><a class="button users" routerLink="/users">Usuarios</a></li>
          <li><a class="button reports" routerLink="/reports">Reportes</a></li>
          <li><a class="button create" routerLink="/crea">Facturas</a></li>
          <li><a class="button setting" routerLink="/config">Configuración</a></li>
          <li><a class="button help" routerLink="/hel">Ayuda</a></li>
          <li><a class="button contact" routerLink="/contact">Contacto</a></li>
        </div>
        </ul>
    </nav>
</div>