.sidebar {
    background-color: #333;
    width: 200px;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 8px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #111;
    cursor: pointer; /* Añadir cursor: pointer; para asegurar que el cursor cambia cuando se pasa sobre el enlace */
  }