h1 {
    color: blue;
    display: flex;
    justify-content: center;
    margin: 0;
}

.contact__body {
    flex: 1;
    padding: 20px; 
}

.contact__container {
    display: flex;
}

.contact__footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}