<!-- src/app/crea/crea.component.html -->
<div class="crea__container">
  <app-navbar></app-navbar>
  <div class="crea__body">
    <h1>Gestión de Facturas</h1>
    <form (ngSubmit)="createFactura()">
      <input [(ngModel)]="descripcion" name="descripcion" placeholder="Descripción de la factura" required />
      <button type="submit">Crear Factura</button>
    </form>
    <div *ngFor="let factura of facturas">
      <input [(ngModel)]="factura.descripcion" (change)="updateFactura(factura.id, factura.descripcion)" />
      <button (click)="deleteFactura(factura.id)">Eliminar</button>
    </div>
  </div>
</div>
