<div class="home_container">
    <header>
      <div class="home_banner">
        <div class="home_logo">Logo</div>
        <button class="home_user_profile">Perfil de usuario<img src="https://cdn-icons-png.flaticon.com/512/6542/6542954.png" alt="Icono de usuario" class="home_user_icon"></button>
      </div>
    </header>
    <div class="home_main_content">
      <nav class="home_sidebar">
        <ul>
          <li><a class="button users" routerLink="/users">Usuarios</a></li>
          <li><a class="button reports" routerLink="/reports">Reportes</a></li>
          <li><a class="button create" routerLink="/crea">Crear</a></li>
          <li><a class="button setting" routerLink="/config">Configuración</a></li>
          <li><a class="button help" routerLink="/hel">Ayuda</a></li>
          <li><a class="button contact" routerLink="/contact">Contacto</a></li>
        </ul>
      </nav>
      <div class="home_content">
        <h1>Bienvenido al home </h1>
      </div>
    </div>
    <footer>
      <div class="footer_content">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
        <p><a routerLink="#">Política de privacidad Términos y Condiciones</a></p>
      </div>
    </footer>
  </div>
  